.contact-page{
    margin-top: 138px;
}
.contact-page-flex{
    background: #0B0A06;
    border-radius: 10px;
    padding: 40px;
    gap: 40px;
    position: relative;
}

.contact-page-flex h1{
    max-width: 635px;
    width: 100%;
    position: relative;
    z-index: 1;
}
.contact-info{
    position: relative;
    z-index: 1;
    max-width: 850px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.can-contact h4{
    color: #F67011;

}


.can-contact-name{
    margin-top: 10px;
    width: 100%;
    background: #1C1C1C;
    gap: 15px;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}
.can-contact-name h4{
    color: #FBFBFB;
}
.can-contact-name p{
    max-width: 480px;
    width: 100%;
    padding-right: 65px;
    color: #B6B6B6;
}
.can-contact-name .names-circle{
    right: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.can-contact-tit{
    width: 100%;
}
.can-contact-tit h4{
    max-width: 330px;
    width: 100%;
    margin-bottom: 10px;
}
.can-contact-tit p{
    max-width: 480px;
    width: 100%;
    padding-right: 65px;
}

.contact-details .names-circle{
    top: 20px;
    transform: unset;
}
.can-contact-tit a{
    line-height: 136%;
    color: #B6B6B6;
    font-size: 16px;
    text-decoration: none;
}

.can-contact-tit a:hover{
    color: #FBFBFB;
}



@media (max-width: 1499px){
    .contact-page-flex h1 {
        max-width: 480px;
    }

}


@media (max-width: 1399px){
    .contact-page-flex h1 {
        max-width: 465px;
    }
    .can-contact-name p {
        padding-right: 0;
    }
    .can-contact-texts {
        max-width: 400px;
        padding-right: 38px;
    }

    .contact-page-flex {
        padding: 20px;
        gap: 30px;
    }
    .contact-info {
        gap: 20px;
    }
    .can-contact-texts {
        max-width: 360px;
    }



}
@media (max-width: 1299px){
    .contact-page-flex {
        gap: 140px;
        flex-direction: column;
    }
    .contact-info {
        max-width: 100%;
    }
    .can-contact-texts {
        max-width: 560px;
    }
    .can-contact-name p {
        padding-right: 30px;
    }


}
@media (max-width: 1020px){
    .can-contact-texts {
        max-width: 350px;
    }
    .can-contact-name {
        gap: 15px;
    }
    .can-contact-tit h4 {
        max-width: 285px;
    }

}
@media (max-width: 767px){
    .contact-page-flex h1 {
        max-width: 250px;
    }
    .contact-page-flex {
        gap: 40px;
        flex-direction: column;
        padding: 20px 14px;
    }
}
@media (max-width: 575px){
    .can-contact-tit {
        flex-direction: column;
    }
    .can-contact-name p {
        padding-right: 30px;
    }
    .can-contact-name p br {
        display: none;
    }
    .can-contact-tit {
        padding-right: 20px;
    }
    .can-contact-tit a{
        font-size: 14px;
    }
    .contact-page-flex {
        padding: 20px 10px;
    }
}